@use '~/assets/scss/global' as *;

.BaseArticle {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.32);
  border-radius: get-clamp-px(24, 40);
  padding: get-clamp-px(24, 40);
}

.BaseArticle__body {
  margin-top: 40px;
}

.BaseArticle__footer {
  margin-top: 40px;
}
