@use '~/assets/scss/global' as *;

.ServiceCard {
  height: 100%;
  position: relative;
}

.ServiceCard__container {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.32);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 16px 24px;

  @include mxMediaQuerySm {
    border-radius: 24px;
    padding: 24px;
  }

  @include mxMediaQueryMd {
    border-radius: 32px;
    padding: 32px;
  }

  @include mxMediaQueryLg {
    border-radius: 40px;
    padding: 40px;
  }
}

.ServiceCardIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.ServiceCardTitle__text {
  color: $palette-white;
  font-weight: $font-bold;
  text-align: center;

  @include mxGetFontSize(20);

  @include mxMediaQuerySm {
    @include mxGetFontSize(24);
  }
}

.ServiceCardDescription {
  margin-top: 16px;
}

.ServiceCardDescription__text {
  @include mxGetFontSize(14);

  @include mxMediaQuerySm {
    @include mxGetFontSize(16);
  }
}

.ServiceCardButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 24px;
}

.ServiceCardButton__button {
  &:not(:root) {
    max-width: 320px;
  }
}
