@use '~/assets/scss/global' as *;

.ServiceCard {
  height: 100%;
  position: relative;
}

.ServiceCard__container {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.32);
  border-radius: get-clamp-px(16, 40);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 16px 24px;

  @include mxMediaQuerySm {
    padding: get-clamp-px(24, 40);
  }
}

.ServiceCardIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.ServiceCardTitle__text {
  color: $palette-white;
  font-size: get-clamp-rem(20, 24);
  font-weight: $font-bold;
  text-align: center;
}

.ServiceCardDescription {
  margin-top: 16px;
}

.ServiceCardDescription__text {
  font-size: get-clamp-rem(14, 16);
}

.ServiceCardButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 24px;
}

.ServiceCardButton__button {
  &:not(:root) {
    max-width: 320px;
  }
}
