@layer component-ui-low {
  .SideLatestArticleTitle__text {
    @mixin getFontSize 20;

    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-bold);
  }

  .SideLatestArticle__contents {
    margin-block-start: 16px;
  }
}
