:root {
  --font-family-main:
    'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'Yu Gothic Medium',
    'YuGothic', yugothic, 'Meiryo', sans-serif;
  --font-family-serif:
    'Hiragino Mincho Pro', 游明朝, 'Yu Mincho', yumincho,
    'Hiragino Mincho ProN', 'HGS明朝E', cambria, georgia, times, serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
