.BaseButton.BaseButton--rightArrow {
  &:not(:root) {
    padding-block: 12px;
    padding-inline: 48px;
  }
}

.BaseButton {
  &:not(:root) {
    align-items: center;
    background: linear-gradient(90deg, var(--color-gradation-primary));
    block-size: 100%;
    border: none;
    border-radius: 100px;
    color: var(--color-palette-white);
    cursor: pointer;
    display: flex;
    font-weight: var(--font-weight-bold);
    inline-size: 100%;
    justify-content: center;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 12px;
    padding-inline: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    transition:
      0.3s box-shadow,
      0.3s transform;

    @mixin getClampRem font-size, 18, 22;

    @media (--media-hover) {
      &:hover {
        box-shadow:
          0 0 24px rgb(var(--color-palette-heliotrope-rgb) / 64%),
          0 0 24px rgb(var(--color-palette-sky-blue-rgb) / 64%);
        transform: perspective(500px) rotateY(8deg);
      }
    }
  }
}

.BaseButton__iconArrowRight {
  inset-block-start: 50%;
  inset-inline-end: 24px;
  margin-block-start: -12px;
  position: absolute;
}
