.ArticleSlider__container {
  position: relative;
}

.ArticleSlider__items {
  margin-block: 0;
  margin-inline: auto;
  position: static;

  /* stylelint-disable */
  :global {
    .splide__track {
      overflow: visible;
    }

    .splide__arrow:not(:root) {
      align-items: center;
      aspect-ratio: 1 / 1;
      backdrop-filter: blur(20px);
      background: none;
      background-color: rgb(var(--color-palette-blue-charcoal-rgb) / 32%);
      border: none;
      border-radius: calc(infinity * 1px);
      box-shadow: none;
      color: var(--color-palette-white);
      display: flex;
      block-size: auto;
      justify-content: center;
      opacity: 1;
      overflow: hidden;
      padding-block: 0;
      padding-inline: 0;
      transition: 0.3s box-shadow;
      inline-size: 48px;

      @media (--media-hover) {
        &:hover {
          box-shadow: none;

          &::after {
            opacity: 1;
          }
        }
      }

      &::after {
        background-clip: border-box;
        background-image: linear-gradient(
          90deg,
          var(--color-gradation-primary)
        );
        background-origin: border-box;
        border: 1px solid transparent;
        border-radius: calc(infinity * 1px);
        content: '';
        display: block;
        block-size: 100%;
        inset-inline-start: 0;
        mask-clip: padding-box, border-box;
        mask-clip: padding-box, border-box;
        mask-composite: destination-out;
        mask-composite: exclude;
        mask-image:
          linear-gradient(var(--color-palette-white) 0 0),
          linear-gradient(var(--color-palette-white) 0 0);
        mask-image:
          linear-gradient(var(--color-palette-white) 0 0),
          linear-gradient(var(--color-palette-white) 0 0);
        opacity: 0;
        position: absolute;
        inset-block-start: 0;
        transition: 0.3s opacity;
        inline-size: 100%;
        z-index: 1;
      }

      svg {
        fill: var(--color-palette-white);
        block-size: 22px;
        inline-size: 22px;
      }
    }

    .splide__arrow.splide__arrow--prev:not(:root) {
      inset-inline-start: 0;
    }

    .splide__arrow.splide__arrow--next:not(:root) {
      inset-inline-end: 0;
    }
  }
  /* stylelint-enable */
}

.ArticleSlider__contents {
  block-size: 100%;

  @mixin getClampPx padding-inline, 12, 20;
}
