@layer component-ui-low {
  .ArticleSlider__wrapper {
    position: relative;
  }

  .ArticleSlider__container {
    position: relative;
    z-index: 1;
  }

  .ArticleSlider__contents {
    block-size: 100%;

    @mixin getClampPx padding-inline, 12, 20;
  }

  .ArticleSliderButtons {
    inline-size: 100%;
    inset-block-start: 50%;
    inset-inline-start: 0;
    position: absolute;
    translate: 0 -50%;
    z-index: 2;
  }

  .ArticleSliderButtons__items {
    position: relative;
  }

  .ArticleSliderButtons__item.ArticleSliderButtons__item--prev {
    inset-inline-start: 0;
  }

  .ArticleSliderButtons__item.ArticleSliderButtons__item--next {
    inset-inline-end: 0;
  }

  .ArticleSliderButtons__item {
    inset-block-start: 0;
    position: absolute;
  }
}
