@layer component-ui-middle {
  .WorkCardList__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @mixin getClampPx gap, 24, 40;

    @mixin getContainerQuerySm {
      grid-template-columns: repeat(2, 1fr);
    }

    @mixin getContainerQueryMd {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .WorkCardList__item.WorkCardList__item--pcLarge {
    grid-column: span 1;

    @mixin getContainerQuerySm {
      grid-column: span 2;
    }

    @mixin getContainerQueryMd {
      grid-column: span 3;
    }
  }
}
