@layer component-page {
  .History__container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .HistoryTitle__container {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .History__parallel {
    display: flex;
  }

  .History__side {
    flex-shrink: 0;
  }

  .HistoryYear {
    inset-block-start: 80px;
    inset-inline-start: 0;
    position: sticky;
  }

  .HistoryYear__items {
    > .HistoryYear__item {
      &:first-of-type {
        padding-block-start: 0;
      }
    }
  }

  .HistoryYear__item {
    padding-block-start: 24px;
    position: relative;

    &::before {
      background-color: rgb(var(--color-palette-silver-chalice-rgb) / 40%);
      block-size: 100%;
      content: '';
      display: block;
      inline-size: 1px;
      inset-block-start: 0;
      inset-inline-start: 8px;
      position: absolute;
      z-index: 1;
    }
  }

  .HistoryYear__title {
    position: relative;
    z-index: 2;
  }

  .HistoryYear__title.HistoryYear__title--active {
    .HistoryYear__button {
      color: var(--color-palette-white);
      font-weight: var(--font-weight-bold);

      @mixin getClampRem font-size, 20, 24;

      &::before {
        background-color: var(--color-palette-sky-blue);
        border-color: var(--color-palette-sky-blue);
      }
    }
  }

  .HistoryYear__button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--color-palette-silver-chalice);
    display: flex;
    font-family: var(--font-family-en);
    font-weight: var(--font-weight-light);
    justify-content: center;
    padding-block: 0;
    padding-inline: 32px 0;
    position: relative;
    transition:
      0.3s color,
      0.3s font-size,
      0.3s font-weight;

    @mixin getClampRem font-size, 16, 18;

    &::before {
      aspect-ratio: 1 / 1;
      background-color: transparent;
      block-size: auto;
      border: 1px solid rgb(var(--color-palette-silver-chalice-rgb) / 40%);
      border-radius: calc(infinity * 1px);
      content: '';
      display: block;
      inline-size: 16px;
      inset-block-start: 50%;
      inset-inline-start: 0;
      position: absolute;
      transition:
        0.3s background-color,
        0.3s border-color;
      translate: 0 -50%;
    }

    @media (--media-hover) {
      &:hover {
        color: var(--color-palette-white);
      }
    }
  }

  .History__main {
    flex-grow: 1;

    @mixin getClampPx padding-inline-start, 40, 80;
  }

  .HistoryContens__items {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .HistoryContens__contents {
    background-color: rgb(var(--color-palette-sky-blue-rgb) / 8%);
    border: 1px solid var(--color-palette-chambray);
    border-radius: 16px;
    padding: 24px;
  }

  .HistoryContensDate {
    align-items: center;
    display: flex;

    @mixin getClampPx margin-block-end, 8, 16;
  }

  .HistoryContensDate__container {
    background-color: rgb(var(--color-palette-black-rgb) / 16%);
    border: 1px solid var(--color-palette-chambray);
    border-radius: calc(infinity * 1px);
    color: var(--color-palette-sky-blue);
    display: flex;
    padding-block: 2px;
    padding-inline: 16px;

    @mixin getClampRem font-size, 12, 14;
  }

  .HistoryContensDate__separator {
    margin-block: 0;
    margin-inline: 4px;
  }

  .HistoryContensTitle__text {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-bold);

    @mixin getClampRem font-size, 18, 20;
  }

  .HistoryContensTag {
    margin-block-start: 8px;
    padding-inline-start: 24px;
  }

  .HistoryContensTagText__items {
    display: flex;
    flex-wrap: wrap;

    > .HistoryContensTagText__item {
      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }

  .HistoryContensTagText__item {
    color: var(--color-palette-silver-chalice);

    @mixin getClampRem font-size, 14, 16;

    &::after {
      content: ',';
      margin-inline-end: 8px;
    }
  }
}
