@use '~/assets/scss/global' as *;

.BlogSlider {
  margin-block-start: 40px;
  overflow: hidden;
}

.BlogButton {
  margin-block-start: 40px;
}

.BlogButton__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.BlogButton__button {
  &:not(:root) {
    max-width: 320px;
  }
}
