@layer component-page {
  .BlogSlider {
    margin-block-start: 40px;
    overflow: hidden;
  }

  .BlogButton {
    margin-block-start: 40px;
  }

  .BlogButton__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .BlogButton__button {
    max-inline-size: 320px;
  }
}
