@use '~/assets/scss/global' as *;

.SectionTitle__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.SectionTitleSub {
  align-items: center;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content: center;
  position: relative;
  z-index: $z-index-1;
}

.SectionTitleSub__text {
  color: rgba($palette-blue-charcoal, 0.1);
  display: inline-block;
  font-size: get-clamp-rem(56, 104);
  font-weight: $font-bold;
  line-height: 1.2;
  text-align: center;
}

.SectionTitleMain {
  align-items: center;
  align-items: flex-end;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content: center;
  position: relative;
  z-index: $z-index-2;
}

.SectionTitleMain__text {
  background: linear-gradient(90deg, $gradation-primary);
  background-clip: text;
  color: $palette-sky-blue;
  font-size: get-clamp-rem(24, 48);
  font-weight: $font-bold;
  text-align: center;
  -webkit-text-fill-color: transparent;
}
