@use '~/assets/scss/global' as *;

.ArticleCardList__items {
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;

  @include mxMediaQuerySm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mxMediaQueryMd {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mxMediaQueryLg {
    column-gap: 32px;
    row-gap: 32px;
  }

  @include mxMediaQueryXl {
    column-gap: 40px;
    row-gap: 40px;
  }
}
