@layer component-page {
  .WorksSlider {
    margin-block-start: 40px;
    overflow: hidden;
  }

  .WorksButton {
    margin-block-start: 40px;
  }

  .WorksButton__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .WorksButton__button {
    max-inline-size: 320px;
  }
}
