@use '~/assets/scss/global' as *;

.ServiceCardList__items {
  display: grid;
  gap: 40px 40px;
  grid-template-columns: repeat(1, 1fr);

  @include mxMediaQuerySm {
    grid-template-columns: repeat(2, 1fr);
  }
}
