@use '~/assets/scss/global' as *;

.ArticleCard {
  height: 100%;
}

.ArticleCard__button {
  &:not(:root) {
    backdrop-filter: blur(20px);
    background-color: rgba($palette-blue-charcoal, 0.32);
    border: none;
    border-radius: 16px;
    color: $palette-white;
    display: block;
    height: 100%;
    padding-block: get-clamp-px(16, 24);
    padding-inline: get-clamp-px(16, 24);
    text-decoration: none;
    transition:
      0.3s color,
      0.3s background-color,
      0.3s border-radius;

    @include mxGetFontSize(16);

    @include mxMediaHover {
      &:hover {
        background-color: rgba($palette-blue-charcoal, 0.64);
        border-radius: 32px;
        color: $palette-sky-blue;

        .ArticleCardMainVisual {
          border-radius: 24px;
        }
      }
    }
  }
}

.ArticleCard__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ArticleCardMainVisual {
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  display: block;
  margin-block-end: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.3s border-radius;
}

.ArticleCardMainVisual__image {
  &:not(:root) {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.ArticleCardDate {
  align-items: center;
  color: $palette-white;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 8px;

  @include mxGetFontSize(14);
}

.ArticleCardDate__separator {
  margin-block: 0;
  margin-inline: 4px;
}

.ArticleCardTitle {
  display: block;
}

.ArticleCardTitle__text {
  @include mxGetFontSize(16);

  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: $font-medium;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ArticleCardTag {
  margin-block-start: auto;
  padding-block-start: 16px;
}
