@use '~/assets/scss/global' as *;

.Lead__contents {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.32);
  border-radius: get-clamp-px(24, 40);
  padding-block: get-clamp-px(24, 40);
  padding-inline: get-clamp-px(24, 40);
}
