@use '~/assets/scss/global' as *;

.LayoutSection.LayoutSection--first {
  padding-top: 24px;

  @include mxMediaQuerySm {
    padding-top: 32px;
  }

  @include mxMediaQueryMd {
    padding-top: 40px;
  }
}

.LayoutSection.LayoutSection--notTopMargin {
  padding-top: 0;
}

.LayoutSection {
  padding: 56px 0;

  @include mxMediaQuerySm {
    padding: 80px 0;
  }

  @include mxMediaQueryMd {
    padding: 96px 0;
  }
}
