@use '~/assets/scss/global' as *;

.LayoutSection.LayoutSection--first {
  padding-block-start: get-clamp-px(24, 40);
}

.LayoutSection.LayoutSection--notTopMargin {
  padding-block-start: 0;
}

.LayoutSection {
  padding-block: get-clamp-px(56, 96);
  padding-inline: 0;
}
