@use '~/assets/scss/global' as *;

.LayoutSection.LayoutSection--first {
  padding-top: get-clamp-px(24, 40);
}

.LayoutSection.LayoutSection--notTopMargin {
  padding-top: 0;
}

.LayoutSection {
  padding: get-clamp-px(56, 96) 0;
}
