.LatestArticleCard {
  &:not(:root) {
    border: none;
    border-radius: 0;
    color: var(--color-palette-white);
    display: block;
    padding-block: 16px;
    padding-inline: 0;
    text-decoration: none;
    transition: 0.3s color;

    @mixin getFontSize 14;

    @media (--media-hover) {
      &:hover {
        color: var(--color-palette-sky-blue);

        .LatestArticleCardMainVisual {
          border-radius: 16px;
        }
      }
    }
  }
}

.LatestArticleCard__container {
  align-items: flex-start;
  display: flex;
}

.LatestArticleCardMainVisual {
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  display: block;
  flex-shrink: 0;
  inline-size: 96px;
  margin-inline-end: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.3s border-radius;
}

.LatestArticleCardMainVisual__image {
  &:not(:root) {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.LatestArticleCard__contents {
  flex-grow: 1;
}

.LatestArticleCardDate {
  align-items: center;
  color: var(--color-palette-white);
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 8px;

  @mixin getFontSize 12;
}

.LatestArticleCardDate__separator {
  margin-block: 0;
  margin-inline: 4px;
}

.LatestArticleCardTitle {
  display: block;
}

.LatestArticleCardTitle__text {
  @mixin getFontSize 14;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: var(--font-weight-medium);
  -webkit-line-clamp: 3;
  overflow: hidden;
}
