@use '../variables' as *;

// Lists
@mixin mxGetMarginListItems($margin-top, $margin-left) {
  margin-block: (-$margin-top) 0;
  margin-inline: (-$margin-left) 0;
}

@mixin mxGetPaddingListItem($padding-top, $padding-left) {
  padding: $padding-top 0 0 $padding-left;
}
