@use '../variables' as *;

// Lists
@mixin mxGetMarginListItems($margin-top, $margin-left) {
  margin-block: (-$margin-top) 0;
  margin-inline: (-$margin-left) 0;
}

@mixin mxGetPaddingListItem($padding-top, $padding-left) {
  padding-block: $padding-top 0;
  padding-inline: $padding-top 0;
}
