@use '../variables' as *;

// Media Query
@mixin mxMediaQueryXs() {
  @media screen and (min-width: $breakpoint-xs), print {
    @content;
  }
}

@mixin mxMediaQuerySm() {
  @media screen and (min-width: $breakpoint-sm), print {
    @content;
  }
}

@mixin mxMediaQueryMd() {
  @media screen and (min-width: $breakpoint-md), print {
    @content;
  }
}

@mixin mxMediaQueryLg() {
  @media screen and (min-width: $breakpoint-lg), print {
    @content;
  }
}

@mixin mxMediaQueryXl() {
  @media screen and (min-width: $breakpoint-xl), print {
    @content;
  }
}

@mixin mxMediaQueryXxl() {
  @media screen and (min-width: $breakpoint-xxl), print {
    @content;
  }
}

@mixin mxMediaQueryPrint() {
  @media print {
    @content;
  }
}

@mixin mxMediaHover() {
  @media (any-hover: hover) {
    @content;
  }
}
