@use 'sass:math';

// Triangle
@mixin mxTriangle($width, $height, $border-color, $deg) {
  border-left: math.div($width, 2) solid transparent;
  border-right: math.div($width, 2) solid transparent;
  border-top: $height solid $border-color;
  content: '';
  display: block;
  position: absolute;
  transition: 0.3s border-color, 0.3s transform;

  @if  $deg != '' {
    transform: rotate($deg);
  }
  @content;
}
