.CircleButton.CircleButton--small {
  &:not(:root) {
    block-size: 48px;
    inline-size: 48px;
  }
}

.CircleButton.CircleButton--outlined {
  &:not(:root) {
    background: none;
    box-shadow: none;
    padding-block: 1px;
    padding-inline: 1px;
    position: relative;

    @media (--media-hover) {
      &:hover {
        box-shadow: none;

        &::after {
          opacity: 1;
        }
      }
    }

    &::after {
      background-clip: border-box;
      background-image: linear-gradient(90deg, var(--color-gradation-primary));
      background-origin: border-box;
      block-size: 100%;
      border: 1px solid transparent;
      border-radius: 100px;
      content: '';
      display: block;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      /* stylelint-disable declaration-block-no-duplicate-properties */
      mask-clip: padding-box, border-box;
      mask-clip: padding-box, border-box;
      mask-composite: destination-out;
      mask-composite: exclude;
      mask-image:
        linear-gradient(var(--color-palette-white) 0 0),
        linear-gradient(var(--color-palette-white) 0 0);
      mask-image:
        linear-gradient(var(--color-palette-white) 0 0),
        linear-gradient(var(--color-palette-white) 0 0);
      opacity: 0;
      /* stylelint-enable */
      position: absolute;
      transition: 0.3s opacity;
      z-index: 1;
    }

    .CircleButton__container {
      align-items: center;
      backdrop-filter: blur(20px);
      background-color: rgb(var(--color-palette-blue-charcoal-rgb) / 32%);
      block-size: 100%;
      border-radius: 100px;
      display: flex;
      inline-size: 100%;
      justify-content: center;
      overflow: hidden;
      padding-block: 4px;
      padding-inline: 4px;
      position: relative;
      z-index: 2;
    }
  }
}

.CircleButton {
  &:not(:root) {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: linear-gradient(90deg, var(--color-gradation-primary));
    block-size: auto;
    border: none;
    border-radius: calc(infinity * 1px);
    color: var(--color-palette-white);
    display: flex;
    justify-content: center;
    padding-block: 0;
    padding-inline: 0;
    position: relative;
    transition: 0.3s box-shadow;

    @mixin getFontSize 14;
    @mixin getClampPx inline-size, 48, 64;

    @media (--media-hover) {
      &:hover {
        box-shadow:
          0 0 24px rgb(var(--color-palette-heliotrope-rgb) / 64%),
          0 0 24px rgb(var(--color-palette-sky-blue-rgb) / 64%);
      }
    }
  }
}

.CircleButton__container {
  align-items: center;
  block-size: 100%;
  border-radius: calc(infinity * 1px);
  display: flex;
  inline-size: 100%;
  justify-content: center;
}
