// Please provide the URL you are referring to, so I can understand the context and assist you better.
// https://chir.ag/projects/name-that-color/

$palette-white: #fff;
$palette-black: #000;
$palette-blue-charcoal: #000911;
$palette-silver-chalice: #a6a6a6;
$palette-sky-blue: #73d1ed;
$palette-chambray: #2d507b;
$palette-heliotrope: #e050f3;
$palette-twitter: #1c9cef;
$palette-facebook: #1877f2;
$palette-line: #00b900;
$gradation-primary: $palette-heliotrope 0, $palette-sky-blue 100%;
