// Family ======
$font-main: 游明朝, 'Yu Mincho', yumincho, 'Hiragino Mincho ProN',
  'Hiragino Mincho Pro', hgs明朝e, serif, times, メイリオ, meiryo;

// Size
$font-size: 16;

// Weight
$font-medium: 500;
$font-bold: 700;
