// Z Index ========
// Common ======
$z-index-minus-1: -1;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;

// Modal ======
$z-index-modal-1: 20000;
$z-index-modal-2: 20100;

// Header ======
$z-index-header-1: 10000;
$z-index-header-2: 10100;
$z-index-header-3: 10200;
$z-index-header-4: 10300;

// Footer ======
$z-index-footer-1: 8000;
