@use '~/assets/scss/global' as *;

.LayoutParallel__container {
  @include mxMediaQueryLg {
    display: flex;
  }
}

.LayoutParallel__main {
  @include mxMediaQueryLg {
    flex-grow: 1;
    min-width: 1px;
  }
}

.LayoutParallel__side {
  margin-block-start: 80px;

  @include mxMediaQueryLg {
    flex-shrink: 0;
    margin-block-start: 0;
    margin-inline-start: 40px;
    width: 300px;
  }
}
