@use '~/assets/scss/global' as *;

.LayoutInner.LayoutInner--small {
  max-width: calc(
    $layout-inner-max-width-small + ($layout-inner-padding-md * 2)
  );
}

.LayoutInner {
  margin-block: 0;
  margin-inline: auto;
  max-width: calc($layout-inner-max-width + ($layout-inner-padding-md * 2));
  padding-block: 0;
  padding-inline: $layout-inner-padding-xs;
  width: 100%;

  @include mxMediaQuerySm {
    padding-inline: $layout-inner-padding-sm;
  }

  @include mxMediaQueryMd {
    padding-inline: $layout-inner-padding-md;
  }
}
