.LayoutInner.LayoutInner--small {
  max-inline-size: calc(
    var(--layout-inner-max-width-small) + (var(--layout-inner-padding-md) * 2)
  );
}

.LayoutInner {
  inline-size: 100%;
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: calc(
    var(--layout-inner-max-width) + (var(--layout-inner-padding-md) * 2)
  );
  padding-block: 0;
  padding-inline: var(--layout-inner-padding-xs);

  @mixin getMediaQuerySm {
    padding-inline: var(--layout-inner-padding-sm);
  }

  @mixin getMediaQueryMd {
    padding-inline: var(--layout-inner-padding-md);
  }
}
