@use '~/assets/scss/global' as *;

.LayoutInner.LayoutInner--small {
  max-width: calc(
    $layout-inner-max-width-small + ($layout-inner-padding-md * 2)
  );
}

.LayoutInner {
  margin: 0 auto;
  max-width: calc($layout-inner-max-width + ($layout-inner-padding-md * 2));
  padding: 0 $layout-inner-padding-xs;
  width: 100%;

  @include mxMediaQuerySm {
    padding: 0 $layout-inner-padding-sm;
  }

  @include mxMediaQueryMd {
    padding: 0 $layout-inner-padding-md;
  }
}
