@use '~/assets/scss/global' as *;

.LayoutFooter {
  margin-block-start: auto;
}

.LayoutFooterBackToTop {
  bottom: 16px;
  position: fixed;
  right: 4vw;
  z-index: $z-index-footer-1;

  @include mxMediaQuerySm {
    right: 4.6vw;
  }

  @include mxMediaQueryMd {
    right: 32px;
  }
}

.LayoutFooterBackToTop__icon {
  &:not(:root) {
    margin-block-end: 4px;
  }
}

.LayoutFooter__contents {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.32);
  padding-block: get-clamp-px(40, 80);
  padding-inline: 0;
}

.LayoutFooterNavigation__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: -24px 0;
  margin-inline: get-clamp-px(-24, -40) 0;
}

.LayoutFooterNavigation__item {
  padding-block: 24px 0;
  padding-inline: get-clamp-px(24, 40) 0;
  width: 50%;

  @include mxMediaQuerySm {
    width: auto;
  }
}

.LayoutFooterNavigation__link {
  &:not(:root) {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $palette-white;
    display: flex;
    font-weight: $font-bold;
    text-align: left;
    text-decoration: none;
    transition:
      0.3s color,
      0.3s text-shadow;

    @include mxGetFontSize(14);

    @include mxMediaHover {
      &:hover {
        color: $palette-sky-blue;
        text-shadow:
          0 0 16px rgba($palette-sky-blue, 0.64),
          0 0 16px rgba($palette-sky-blue, 0.64);
      }
    }
  }
}

.LayoutFooterNavigation__icon {
  &:not(:root) {
    flex-shrink: 0;
    margin-inline-end: 12px;
    padding-block-start: 4px;

    &::before {
      background: linear-gradient(90deg, $gradation-primary);
      height: 13px;
      width: 8px;
    }
  }
}

.LayoutFooterSns {
  margin-block-start: get-clamp-px(64, 80);
  overflow: hidden;
}

.LayoutFooterSns__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: -24px 0;
  margin-inline: get-clamp-px(-24, -40) 0;
}

.LayoutFooterSns__item {
  padding-block: 24px 0;
  padding-inline: get-clamp-px(24, 40) 0;
}

.LayoutFooterSns__link {
  &:not(:root) {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    text-decoration: none;

    @include mxMediaHover {
      &:hover {
        opacity: $opacity-hover;
      }
    }
  }
}

.LayoutFooter__copy {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.8);
  padding-block: 24px;
  padding-inline: 24px;
}

.LayoutFooterCopy__paragraph {
  text-align: center;

  @include mxGetFontSize(12);
}

.LayoutFooterCopy__text {
  background: linear-gradient(90deg, $gradation-primary);
  background-clip: text;
  color: $palette-sky-blue;
  display: inline-block;
  -webkit-text-fill-color: transparent;
}
