/* stylelint-disable declaration-block-no-duplicate-properties */
.SvgIcon.SvgIcon--primary {
  &::before {
    background-color: var(--color-palette-sky-blue);
  }
}

.SvgIcon.SvgIcon--large {
  &::before {
    inline-size: 80px;
  }
}

.SvgIcon {
  display: inline-flex;

  &::before {
    aspect-ratio: 1 / 1;
    background-color: var(--color-palette-white);
    block-size: auto;
    content: '';
    display: block;
    inline-size: 24px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    transition: 0.3s background-color;
  }
}

.SvgIcon--arrowTop {
  &::before {
    mask-image: url('/assets/img/icon-arrow-top.svg');
  }
}

.SvgIcon--arrowRight {
  &::before {
    mask-image: url('/assets/img/icon-arrow-right.svg');
  }
}

.SvgIcon--arrowBottom {
  &::before {
    mask-image: url('/assets/img/icon-arrow-bottom.svg');
  }
}

.SvgIcon--arrowLeft {
  &::before {
    mask-image: url('/assets/img/icon-arrow-left.svg');
  }
}

.SvgIcon--x {
  &::before {
    mask-image: url('/assets/img/icon-x.svg');
  }
}

.SvgIcon--instagram {
  &::before {
    mask-image: url('/assets/img/icon-instagram.svg');
  }
}

.SvgIcon--github {
  &::before {
    mask-image: url('/assets/img/icon-github.svg');
  }
}

.SvgIcon--youtube {
  &::before {
    mask-image: url('/assets/img/icon-youtube.svg');
  }
}

.SvgIcon--qiita {
  &::before {
    mask-image: url('/assets/img/icon-qiita.svg');
  }
}

.SvgIcon--note {
  &::before {
    mask-image: url('/assets/img/icon-note.svg');
  }
}

.SvgIcon--behance {
  &::before {
    mask-image: url('/assets/img/icon-behance.svg');
  }
}

.SvgIcon--pixiv {
  &::before {
    mask-image: url('/assets/img/icon-pixiv.svg');
  }
}

.SvgIcon--palette {
  &::before {
    mask-image: url('/assets/img/icon-palette.svg');
  }
}

.SvgIcon--star {
  &::before {
    mask-image: url('/assets/img/icon-star.svg');
  }
}

.SvgIcon--laptop {
  &::before {
    mask-image: url('/assets/img/icon-laptop.svg');
  }
}

.SvgIcon--person {
  &::before {
    mask-image: url('/assets/img/icon-person.svg');
  }
}

.SvgIcon--mail {
  &::before {
    mask-image: url('/assets/img/icon-mail.svg');
  }
}

.SvgIcon--translate {
  &::before {
    mask-image: url('/assets/img/icon-translate.svg');
  }
}
/* stylelint-enable */
