@use '~/assets/scss/global' as *;

.GoogleAdList {
  overflow: hidden;
}

.GoogleAdList__items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mxGetMarginListItems(24px, 24px);
}

.GoogleAdList__item {
  align-items: center;
  block-size: 300px;
  box-sizing: content-box;
  display: flex;
  inline-size: 300px;
  justify-content: center;
  max-block-size: 300px;
  max-inline-size: 300px;

  @include mxGetPaddingListItem(24px, 24px);
}
