@use '~/assets/scss/global' as *;

.Contact__contents {
  margin-top: 40px;
}

.Contact__message {
  font-size: get-clamp-rem(16, 18);
  text-align: center;
}

.ContactButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ContactButton__button {
  &:not(:root) {
    max-width: 320px;
  }
}

.ContactButton__icon {
  &:not(:root) {
    flex-shrink: 0;
    margin-right: 8px;
  }
}
