@use '~/assets/scss/global' as *;

.ProfileTitle {
  align-items: center;
  display: flex;
}

.ProfileTitleImage {
  border-radius: 120px;
  flex-shrink: 0;
  height: 80px;
  overflow: hidden;
  width: 80px;

  @include mxMediaQuerySm {
    height: 120px;
    width: 120px;
  }
}

.ProfileTitleImage__image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.ProfileTitle__paragraph {
  align-items: center;
  display: flex;
  margin-inline-start: 16px;

  @include mxMediaQuerySm {
    margin-inline-start: 40px;
    padding: 40px 0;
  }
}

.ProfileTitle__main {
  @include mxGetFontSize(24);

  font-weight: $font-bold;
  margin-inline-end: 8px;
}

.ProfileTitle__sub {
  @include mxGetFontSize(14);
}

.ProfileInfo {
  display: grid;
  grid-template-columns: [column-1] auto [column-2] 1fr;
  margin-block-start: 24px;
  row-gap: 24px;

  @include mxMediaQuerySm {
    margin-block-start: -24px;
    padding-left: 160px;
  }
}

.ProfileInfo__contents {
  column-gap: 16px;
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.ProfileInfoTitle__text {
  @include mxGetFontSize(18);

  font-weight: $font-bold;
}

.ProfileInfoDescription {
  padding-top: 2px;
}

.ProfileInfoDescription__items {
  > .ProfileInfoDescription__item {
    &:first-of-type {
      margin-block-start: 0;
    }
  }
}

.ProfileInfoDescription__item {
  margin-block-start: 16px;
  padding-left: 16px;
  position: relative;

  &::before {
    background: linear-gradient(90deg, $gradation-primary);
    border-radius: 8px;
    content: '';
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 8px;

    @include mxMediaQuerySm {
      top: 10px;
    }
  }
}
