@use '~/assets/scss/global' as *;

.PageTitle {
  padding-top: 64px;
}

.PageTitle__container {
  padding: 40px 0;
}

.PageTitleSub {
  display: block;
  margin-bottom: 4px;
}

.PageTitleSub__text {
  display: block;

  @include mxGetFontSize(16);

  @include mxMediaQuerySm {
    @include mxGetFontSize(20);
  }

  @include mxMediaQueryMd {
    @include mxGetFontSize(24);
  }
}

.PageTitleMain {
  display: block;
}

.PageTitleMain__text {
  color: $palette-white;
  font-weight: $font-bold;

  @include mxGetFontSize(24);

  @include mxMediaQuerySm {
    @include mxGetFontSize(32);
  }

  @include mxMediaQueryMd {
    @include mxGetFontSize(40);
  }
}
