@use '~/assets/scss/global' as *;

.PageTitle {
  padding-top: 64px;
}

.PageTitle__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 40px 0;
}

.PageTitleSub {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  z-index: $z-index-1;
}

.PageTitleSub__text {
  color: rgba($palette-blue-charcoal, 0.1);
  display: block;
  font-weight: $font-bold;
  line-height: 1.2;

  @include mxGetFontSize(56);

  @include mxMediaQuerySm {
    @include mxGetFontSize(72);
  }

  @include mxMediaQueryMd {
    @include mxGetFontSize(88);
  }

  @include mxMediaQueryLg {
    @include mxGetFontSize(104);
  }
}

.PageTitleMain {
  align-items: flex-end;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  z-index: $z-index-2;
}

.PageTitleMain__text {
  color: $palette-white;
  font-weight: $font-bold;

  @include mxGetFontSize(24);

  @include mxMediaQuerySm {
    @include mxGetFontSize(32);
  }

  @include mxMediaQueryMd {
    @include mxGetFontSize(40);
  }

  @include mxMediaQueryLg {
    @include mxGetFontSize(48);
  }
}
