@use '~/assets/scss/global' as *;

.PageTitle {
  padding-top: 64px;
}

.PageTitle__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 40px 0;
}

.PageTitleSub {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  z-index: $z-index-1;
}

.PageTitleSub__text {
  color: rgba($palette-blue-charcoal, 0.1);
  display: block;
  font-size: get-clamp-rem(56, 104);
  font-weight: $font-bold;
  line-height: 1.2;
}

.PageTitleMain {
  align-items: flex-end;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  z-index: $z-index-2;
}

.PageTitleMain__text {
  color: $palette-white;
  font-size: get-clamp-rem(24, 48);
  font-weight: $font-bold;
}
