@use '~/assets/scss/global' as *;

.ArticleBody__body {
  > * {
    &:first-child {
      margin-block-start: 0;
    }
  }

  h1,
  h2 {
    border-block-start: 4px solid $palette-emperor;
    font-weight: $font-bold;
    margin-block-start: 40px;
    padding-block: 16px 0;
    padding-inline: 0;
    position: relative;

    @include mxGetFontSize(22);

    &::before {
      background: linear-gradient(90deg, $gradation-primary);
      block-size: 4px;
      content: '';
      display: block;
      inline-size: 64px;
      inset-block-start: -4px;
      inset-inline-start: 0;
      position: absolute;
      z-index: 1;
    }
  }

  h3 {
    font-weight: $font-bold;
    margin-block-start: 40px;

    @include mxGetFontSize(20);
  }

  h4 {
    font-weight: $font-bold;
    margin-block-start: 40px;

    @include mxGetFontSize(18);
  }

  h5 {
    font-weight: $font-bold;
    margin-block-start: 40px;

    @include mxGetFontSize(16);
  }

  h6 {
    font-weight: $font-bold;
    margin-block-start: 40px;

    @include mxGetFontSize(16);
  }

  p {
    margin-block-start: 16px;
  }

  i {
    font-style: italic;
    font-weight: $font-medium;
  }

  strong {
    font-weight: $font-bold;
  }

  u {
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    margin-block-start: 16px;
    padding-inline-start: 24px;

    li {
      &:first-of-type {
        margin-block-start: 0;
      }
    }
  }

  ol {
    list-style: decimal;
    margin-block-start: 16px;
    padding-inline-start: 24px;

    li {
      &:first-of-type {
        margin-block-start: 0;
      }
    }
  }

  li {
    margin-block-start: 8px;
  }

  pre {
    background-color: $palette-emperor;
    border: 1px solid $palette-silver-chalice;
    display: block;
    font-weight: $font-medium;
    margin-block: 16px 0;
    margin-inline: 0;
    padding-block: 16px;
    padding-inline: 16px;

    @include mxGetFontSize(14);

    code {
      margin-block-start: 0;

      @include mxGetFontSize(14);
    }
  }

  blockquote {
    background-color: $palette-emperor;
    border-inline-start: 8px solid $palette-silver-chalice;
    display: block;
    font-weight: $font-medium;
    margin-block: 16px 0;
    margin-inline: 0;
    padding-block: 16px;
    padding-inline: 16px;

    @include mxGetFontSize(14);

    p {
      margin-block-start: 0;

      @include mxGetFontSize(14);
    }
  }

  img {
    block-size: auto;
    margin-block-start: 16px;
  }

  table {
    background-color: $palette-emperor;
    border: 1px solid$palette-silver-chalice;
    inline-size: 100%;
    margin-block-start: 16px;

    tbody {
      > tr {
        border-block-end: 1px solid $palette-silver-chalice;

        &:last-of-type {
          border-block-end: none;
        }

        > td {
          border-inline-end: 1px solid $palette-silver-chalice;
          padding-block: 4px;
          padding-inline: 4px;

          &:last-of-type {
            border-inline-end: none;
          }
        }
      }
    }
  }
}
