@layer component-ui-low {
  .SectionTitle.SectionTitle--start {
    text-align: start;

    .SectionTitleSub {
      justify-content: start;
    }

    .SectionTitleMain {
      justify-content: start;
    }
  }

  .SectionTitle.SectionTitle--center {
    text-align: center;

    .SectionTitleSub {
      justify-content: center;
    }

    .SectionTitleMain {
      justify-content: center;
    }
  }

  .SectionTitle.SectionTitle--end {
    text-align: end;

    .SectionTitleSub {
      justify-content: end;
    }

    .SectionTitleMain {
      justify-content: end;
    }
  }

  .SectionTitle__container {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .SectionTitleSub.SectionTitleSub--active {
    filter: blur(0);
    opacity: 1;
  }

  .SectionTitleSub {
    align-items: center;
    display: flex;
    filter: blur(24px);
    opacity: 0;
    transition:
      0.6s 0.6s opacity,
      0.6s 0.6s filter;
  }

  .SectionTitleSub.SectionTitleSub--secondary {
    .SectionTitleSub__text {
      color: var(--color-palette-heliotrope);
    }
  }

  .SectionTitleSub__text {
    color: var(--color-palette-sky-blue);
    display: inline-block;
    font-family: var(--font-family-en);
    font-weight: var(--font-weight-light);
    line-height: 1.2;
    text-align: inherit;

    @mixin getClampRem font-size, 12, 16;
  }

  .SectionTitleMain {
    align-items: center;
    display: flex;
  }

  .SectionTitleMain__paragraph {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-bold);
    position: relative;
    text-align: inherit;

    @mixin getClampRem font-size, 24, 48;
  }

  .SectionTitleMain__text.SectionTitleMain__text--active {
    filter: blur(0);
    opacity: 1;
  }

  .SectionTitleMain__text {
    display: inline-block;
    filter: blur(24px);
    opacity: 0;
    transition:
      0.6s opacity,
      0.6s filter;
  }
}
