@use '~/assets/scss/global' as *;

.BaseTagList.BaseTagList--justifyEnd {
  .BaseTagList__items {
    justify-content: flex-end;
  }
}

.BaseTagList {
  display: block;
  overflow: hidden;
}

.BaseTagList__items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @include mxGetMarginListItems(-8px, -8px);
}

.BaseTagList__item {
  @include mxGetPaddingListItem(8px, 8px);
}
