@use '~/assets/scss/global' as *;

.LayoutPageBackground {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-minus-1;
}

.LayoutPageBackground__image {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  width: 100%;
}
