@use '~/assets/scss/global' as *;

.LayoutPageBackground {
  block-size: 100%;
  display: block;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.LayoutPageBackground__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center top;
}
