@use '~/assets/scss/global' as *;

.Lead__wrapper {
  position: relative;
}

.LeadImage {
  display: block;
  height: 100%;
  left: 30%;
  position: absolute;
  top: 0;
  width: 70%;
  z-index: $z-index-1;

  &::after {
    background-color: rgba($color: $palette-black, $alpha: 40%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-2;
  }
}

.LeadImage__image {
  &:not(:root) {
    object-fit: cover;
    object-position: top center;
    z-index: $z-index-1;
  }
}

.Lead__container {
  padding-block: get-clamp-px(80, 120);
  padding-inline: 0;
  position: relative;
  z-index: $z-index-2;
}

.LeadMessage {
  padding-inline-end: 20%;

  @include mxMediaQuerySm {
    padding-inline-end: 0;
  }
}

.LeadMessage__paragraph {
  font-size: get-clamp-rem(18, 32);
  font-weight: $font-bold;
}
