@layer component-page {
  .Profile__container {
    display: grid;
    gap: 40px;
    grid-template-areas:
      'icon'
      'contents';
    grid-template-columns: 1fr;

    @mixin getMediaQuerySm {
      align-items: flex-start;
      gap: 64px;
      grid-template-areas: 'icon contents';
      grid-template-columns: auto 1fr;
    }
  }

  .ProfileIcon {
    align-items: flex-start;
    display: grid;
    gap: 24px;
    grid-area: icon;
    grid-template-columns: 1fr;

    @mixin getMediaQuerySm {
      @mixin getClampPx inline-size, 200, 400;
    }
  }

  .ProfileIconImage {
    border-radius: 16px;
    overflow: hidden;
  }

  .ProfileIconImage__image {
    block-size: auto;
    inline-size: 100%;
  }

  .ProfileIconTitle {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
  }

  .ProfileIconTitle__main {
    color: var(--color-palette-white);
    font-family: var(--font-family-en);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;

    @mixin getClampRem font-size, 24, 48;
  }

  .ProfileIconTitle__sub {
    color: var(--color-palette-silver-chalice);
    display: block;

    @mixin getClampRem font-size, 12, 16;
  }

  .ProfileContents {
    display: grid;
    gap: 24px;
    grid-area: contents;
    grid-template-columns: 1fr;
  }

  .ProfileContents__lead {
    color: var(--color-palette-silver-chalice);

    @mixin getClampRem font-size, 14, 16;
  }
}
