@use '~/assets/scss/global' as *;

.Message__contents {
  backdrop-filter: blur(20px);
  background-color: rgba($palette-blue-charcoal, 0.32);
  border-radius: get-clamp-px(24, 40);
  padding-block: get-clamp-px(24, 40);
  padding-inline: get-clamp-px(24, 40);
}

.Message__text {
  text-align: center;
}

.MessageButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-block-start: get-clamp-px(24, 40);
}

.MessageButton__button {
  &:not(:root) {
    inline-size: 100%;
    max-inline-size: 320px;
  }
}
