@use '~/assets/scss/global' as *;

.ArticleHeadMainVisual {
  border-radius: 16px;
  margin-block-end: get-clamp-px(24, 40);
  overflow: hidden;

  @include mxMediaQueryMd {
    border-radius: 24px;
  }
}

.ArticleHeadMainVisual__container {
  height: auto;
  position: relative;
  width: 100%;
}

.ArticleHeadMainVisual__image {
  &:not(:root) {
    height: auto !important;
    position: static !important;
    width: 100% !important;
  }
}

.ArticleHeadTitle__text {
  font-size: get-clamp-rem(24, 32);
  font-weight: $font-bold;
}

.ArticleHeadInfo {
  margin-block-start: 16px;
}

.ArticleHeadDate {
  display: flex;

  @include mxGetFontSize(14);
}

.ArticleHeadDate__title {
  display: block;
  flex-shrink: 0;

  &::after {
    content: ':';
    margin-block: 0;
    margin-inline: 4px;
  }
}

.ArticleHeadDate__contents {
  display: flex;
  flex-wrap: wrap;
}

.ArticleHeadDate__text {
  display: block;
}

.ArticleHeadDate__separator {
  display: block;
  margin-block: 0;
  margin-inline: 4px;
}

.ArticleHeadUrl {
  display: flex;
  margin-block-start: 8px;

  @include mxGetFontSize(14);
}

.ArticleHeadUrl__title {
  display: block;
  flex-shrink: 0;

  &::after {
    content: ':';
    margin-block: 0;
    margin-inline: 4px;
  }
}

.ArticleHeadUrl__contents {
  display: flex;
}

.ArticleHeadUrl__link {
  &:not(:root) {
    color: $palette-white;
    display: block;
    text-decoration: none;

    @include mxMediaHover {
      &:hover {
        color: $palette-sky-blue;
      }
    }
  }
}

.ArticleHeadUrl__text {
  display: block;
}

.ArticleHeadTag {
  margin-block-start: 16px;
}

.ArticleHeadTag__items {
  > .ArticleHeadTag__item {
    &:first-of-type {
      margin-block-start: 0;
    }
  }
}

.ArticleHeadTag__item {
  margin-block-start: 16px;
}

.ArticleHeadTag__container {
  display: flex;
}

.ArticleHeadTagTitle {
  flex-shrink: 0;
  font-weight: $font-bold;
  padding-top: 2px;

  @include mxGetFontSize(14);
}

.ArticleHeadTagTitle__text {
  display: block;

  &::after {
    content: ':';
    margin-block: 0;
    margin-inline: 4px;
  }
}

.ArticleHeadTag__list {
  flex-grow: 1;
}
